<div class = "comment">
    <a href="/users/profile/<%= comment.user.id %>">
    <div class = "comment-image-container">
        <img class = "circle responsive-img user-image" src = "/images/default-user-image.png">
    </div>
    </a>
    
    <div class = "comment-container">
        <div class = "comment-user-deletebtn-container">
            <a href="/users/profile/<%= comment.user.id %>"><h6><%= comment.user.name %></h6></a>
            <% if(comment.user.id == locals.user.id) { %>
                <i class="comment-dropdown-btn fas fa-chevron-circle-down dropdown-trigger waves-effect" data-target = "dropdown-<%= comment.id %>">
                </i>
                <ul id = "dropdown-<%= comment.id %>" class = "dropdown-content">
                    <li><a href="/comments/destroy/<%= comment.id %>">Delete</a></li>
                </ul>
            <% } %>
        </div>
        <p class = "comment-para"><%= comment.content %></p>
    </div>
    
</div>