<header>
    <ul class = "sign-container">
        <div>
            <h4>Codeial</h4>
            <a href="/"><li>Home</li></a>
        </div>
        <% if(locals.user){ %>
            <div class = "no-apply div-no-apply">
                <div id = "user-dropdown-link" class='no-apply sidenav-trigger' href='#' data-target='user-options-dropdown'>
                    <img src = "<%= user.avatar %>" alt="" class = "circle responsive-img user-image">
                    <i class="fas fa-caret-down"></i>
                </div>
                <ul id = "user-options-dropdown" class = "no-apply sidenav">
                    <li>
                        <div class="user-view no-apply">
                            <div class="background no-apply">
                            <img src="/images/sidenav-bg.jpg">
                            </div>
                            <a href="#!" class = "no-apply"><img class="circle" src = "<%= user.avatar %>"></a>
                            <a href="#!" class = "no-apply"><span class="white-text name"><%= locals.user.name %> </span></a>
                            <a href="#!" class = "no-apply"><span class="white-text email"><%= locals.user.email %> </span></a>
                        </div>
                    </li>
                    <li><a href = "/users/feed" class = "no-apply">Home</a></li>
                    <li><a href = "/users/profile/<%= user.id %> " class = "no-apply">My Profile</a></li>
                    <li><a href = "/users/update" class = "no-apply">Edit Profile</a></li>
                    <li><a href = "/users/sign-out" class = "no-apply">Sign Out</a></li>
                    <li><a class = "sidenav-close no-apply" href = "#!">Close</a></li>
                </ul>
            </div>
        <% } else { %>
            <div>
                <a href="/signin"><li>Sign In</li></a>
                <a href="/signup"><li>Sign Up</li></a>
            </div>
        <% } %> 
    </ul>
</header>