<div class = "post card" id = "<%= post.id %>">
    <div class = "user-intro">
        <a href="/users/profile/<%= post.user.id %>" class = "post-user-image-container">
            <div>
                <img class = "circle responsive-img user-image" src = "/images/default-user-image.png">
            </div>
            <div class = "user-name-time-container">
                <h5><%= post.user.name %></h5>
                <p class = "#e0e0e0 grey-text lighten-2 post-time"><i class="fas fa-globe"></i> <%= post.createdAt.toString().substring(0,25) %></p>
            </div>
        </a>
        
        <% if(post.user.id == locals.user.id){ %>
            <div>
                <i class="fas fa-edit post-dropdown-btn dropdown-trigger waves-effect" data-target = "dropdown-<%= post.id %>"></i>
                <ul id = "dropdown-<%= post.id %>" class = "dropdown-content">
                    <li><a href="/posts/destroy/<%= post.id %>" class = "post-delete-link" data-postID = "<%= post.id %> ">Delete</a></li>
                </ul>
            </div>
        <% } %>
    </div>
    
    
    <hr>
    <div class = "post-content">
        <%= post.content %> 
    </div>
    <div class = "like-comment-numbers">
        <div class = "like-numbers">
            0 <i class = "far fa-thumbs-up"></i>
        </div>
        <div class = "comment-numbers">
            <i class = "far fa-comment"></i> <%= post.comments.length %> 
        </div>
    </div>
    <div class = "like-comment-tab row" id = "like-comment-tab">
        <div class = "col xs6 s6 m6 l6 xl6 center-align waves-effect waves-blue like-btn">
            <i class = "far fa-thumbs-up"></i> Like
        </div>
        <div class = "col xs6 s6 m6 l6 xl6 center-align waves-effect waves-green comment-btn">
            <i class = "far fa-comment"></i> Comment
        </div>
    </div>
    <div class = "post-comments">
        <form action = "/comments/create" method = "POST" class = "create-comment">
            <div class = "input-field">
                <input type = "text" name = "content" class = "comment-input-text" placeholder = "Add a comment..." required>
            </div>
            <input type = "hidden" name = "post" value = "<%= post._id %>">
            <button class="btn blue waves-effect waves-light" type="submit">Post
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </form>

        <div class = "comments-container">
            <% for(comment of post.comments){ %>
                <%- include('_comment') %> 
            <% } %> 
        </div>
    </div>
</div>